{% extends 'account/../base.html' %}
{% load staticfiles %}
{% block content %}
        <link href="{% static "events/css/eventDetailStyle.css" %}" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 id="eventDetailFirstTag">
               Event Details
            </h1>

        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6" id="eventDetailsSecondTag">
            <h2>
                {{ event.Event_Name }}
            </h2>
            <hr>
            <h3>
                {{ event.Organized_By }}
            </h3>
            <hr>
            <h3>
                {{ event.Venue_Of_Event }}
            </h3>
            <hr>
            <h3>
                {{ event.Event_Start_Date }}
            </h3>
        </div>

        <div class="col-md-6">
            <img src="{{ event.Event_Image.url }}" class="EventImage" alt="Event Image">
        </div>
    </div>

    <br>
    <br>

    <div class="row" id="eventDetailFirstTag">
        <div class="col-md-12">
            <h3>
                {{ event.Short_Description_Of_Event }}
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h2>
                Categories:
            </h2>
        </div>
        <div class="col-md-10">
            <h3> {{ event.Categories }} </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>
                Last date of Event:
            </h2>
        </div>
        <div class="col-md-10">
            <h3> {{ event.Event_Last_Date }} </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>
                Last date for apply:
            </h2>
        </div>
        <div class="col-md-10">
            <h3> {{ event.Last_Date_For_Apply }} </h3>
        </div>
    </div>


    <div class="row" id="eventDetailFirstTag">
        <div class="col-md-12">
            <h3>
                {{ event.Long_Description_Of_Event }}
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h2>
                Terms & Condition:
            </h2>
        </div>
        <div class="col-md-10">
            <h3> {{ event.Terms_and_Condtions_Of_Event }} </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h2>
                Apply Link:
            </h2>
        </div>
        <div class="col-md-10">
            <h3> {{ event.Apply_Link_Of_Event }} </h3>
        </div>
    </div>



</div>

{% endblock %}