


 /* Create four equal columns that floats next to each other */
 body{
    background-color:#f1f1f1;
}
.clouds {
margin :70px 55px 5px 55px;
 }

.column {
    float: left;
    padding: 10px;
}

.column img {
    width: 100%;
}

.row {
    margin-top: 24px;
    margin-bottom: 24px;

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.college_content {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(7,7,7,0.6);
    border-radius: inherit ;
    transition: 0.3s;
    text-align: center;
    font-style: italic ;
    font-size: 18px;
    position: relative;
    background-size: auto;
}

.college_name {
    position:static;
    max-height: 40px;

}
.sec_name {
    position:static;
    max-height: 80px;

}

.college_logo {
    display: block;
      width: 100%;
    text-align: center;
    position: relative;
    height: 250px;
    overflow: hidden;
    background-size:auto;
}

.thumbnail {
    height: 280px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
   }
}



<!-- Form -->
.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fa {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {

    font-weight: 400; }



/* forms */
form {
    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#efefef;
    border:0;
    padding:6px 10px;
    font-size:14px;
    width: 100%;
}
input[type=submit], a.button {
    font-weight:bold;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}

.FAB {
  position: sticky;
  right: 0px;
  width: 56px;
}
.FAB__action-button{
  cursor: pointer;
  position: sticky;
  right: 0;
}

.action-button__icon {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  background-color: #4682b4;
  border-radius: 50%;
  color: #fff;
  padding: 16px;
}
.action-button__text--show {
  background-color: #212121;
  border-radius: 3px;
  color: #fff;
  right: 75px;
  font-size: 14px;
  opacity: 0.8;
  padding: 5px 9px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}
