.jumbotron {
  background: #a9a9a9 no-repeat center center;
  background-size: cover;
  height: 740px;
  margin-bottom: 0px;
}

.header {
  background-color: #ffffff;
}


.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #ffffff;
  font-family:  sans-serif;
  font-weight: 800;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.main h2 {
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;

}
.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  margin-top: 160px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  border: 1px solid #333;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}


.footer {
  background-color: #333;
  color: #fff;
  min-height: 40px;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

#bg {
    background-image: url("Eventus.jpg");
}