{% extends 'mywebsite/baseForLoginNdSignup.html' %}
{% load staticfiles %}
{% block content %}
     <link href="{% static "css/eventEditStyle.css" %}" rel="stylesheet">
    <div class="container-fluid">
        <div class="row " id="EventEditFirstTag">
            <h1>
                Exhibition Detail
            </h1>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>

            </div>
            <div class="col-md-2">

            </div>
        </div>

    </div>


{% endblock %}