{% extends 'mywebsite/baseEventList.html' %}
{% load staticfiles %}
{% block content %}
    <link href="{% static "css/eventListStyle.css" %}" rel="stylesheet">
    <div class="container-fluid " id="courses-container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>
                    Exhibition'17
                </h1>
                <a href="{% url 'mywebsite:exhibitions_new' %}">
                    <button class="btn btn-primary">
                        Add New Exhibition
                    </button>
                </a>
                <br>
                <br>
            </div>
        </div>
        <hr>
        <br>
        <br>
        <div class="row">
            {% for exhibition in exhibitions %}
                <div class="col-md-3">
                    <div class="thumbnail" id="thumbanailText">
                        <a href="{% url 'mywebsite:exhibitions_detail' pk=exhibition.pk %}">
                            <img src="{{ exhibition.Exhibition_Image.url }}" class="ideaImage" alt="Event Image">
                            <h3>
                                {{ exhibition.Exhibition_Name }}
                            </h3>
                            <h4>
                                {{ exhibition.Exhibition_Venue }}
                            </h4>
                        </a>

                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <h1 id="secondary-header">
                    Browse by Categories
                </h1>

            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="{% static 'images/edu.jpg' %}" id="im1">

                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'images/entertainment.jpg' %}" id="im2">
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'images/spo.jpg' %}" id="im2">
                </div>

            </div>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'images/techs.jpg' %}" id="im2">
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'images/Free.jpg' %}" id="im2">
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="{% static 'images/travel.jpg' %}" id="im1">
                </div>

            </div>

            <hr>

        </div>
        <!-- Container (Customer Reviews) -->

        <div class="container text-center bg-grey">
            <h2>WHAT OUR CUSTOMERS SAY</h2>
            <br>
            <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <h4>"This site has given me a place wherein I can know what events our happening around me."<br><span
                                style="font-style:normal;">Sakshi Dubey , IIIT Vadodara</span></h4>
                    </div>
                    <div class="item">
                        <h4>"One word... WOW!!"<br><span
                                style="font-style:normal;">Shivam Verma , IIT Gandhinagar</span></h4>
                    </div>
                    <div class="item">
                        <h4>"Could I... BE any more happy with this site?"<br><span style="font-style:normal;">Abhishek Kumar , DAIICT</span>
                        </h4>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>






    </div>

{% endblock %}

