{% load staticfiles %}
<html>
<head>
    <title>Sign up or login</title>
    <link rel="stylesheet" href="{% static 'css/lbg.css' %}" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>


</head>
<body>


<div class="clouds">

    <div class=" form">

        <ul class="tab-group">
            <li class="tab active"><a href="#signup">Student</a></li>
            <li class="tab "><a href="#signup1">Organizer</a></li>
        </ul>

        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up for Student</h1>

                 <form method="post" action="{% url 'mywebsite:signup' %}">
                    {% csrf_token %}
                    <div class="field-wrap">
                        <label>
                            Username<span class="req">*</span>
                        </label>
                        {{ form.username }}
                    </div>

                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                First Name<span class="req">*</span>
                            </label>
                            {{ form.first_name }}
                        </div>

                        <div class="field-wrap">
                            <label>
                                Last Name<span class="req">*</span>
                            </label>
                            {{ form.last_name }}
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        {{ form.email }}
                    </div>

                    <div class="field-wrap">
                        <label>
                            Set A Password<span class="req">*</span>
                        </label>
                        {{ form.password1 }}
                    </div>
                    <div class="field-wrap">
                        <label>
                            Repeat the Password<span class="req">*</span>
                        </label>
                        {{ form.password2 }}
                    </div>

                    <button type="submit" class="button button-block"/>
                    Get Started</button>

                </form>
                {% for error in form.errors %}
                        <p style="color: red">{{ error }}</p>
                {% endfor %}

            </div>

            <div id="signup1">
                <h1>Sign Up for Organizer</h1>

                 <form method="post" action="{% url 'mywebsite:signup' %}">
                    {% csrf_token %}
                    <div class="field-wrap">
                        <label>
                            Username<span class="req">*</span>
                        </label>
                        {{ forms.username }}
                    </div>

                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                First Name<span class="req">*</span>
                            </label>
                            {{ forms.first_name }}
                        </div>

                        <div class="field-wrap">
                            <label>
                                Last Name<span class="req">*</span>
                            </label>
                            {{ forms.last_name }}
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Email Address<span class="req">*</span>
                        </label>
                        {{ forms.email }}
                    </div>

                    <div class="field-wrap">
                        <label>
                            Set A Password<span class="req">*</span>
                        </label>
                        {{ forms.password1 }}
                    </div>
                    <div class="field-wrap">
                        <label>
                            Repeat the Password<span class="req">*</span>
                        </label>
                        {{ forms.password2 }}
                    </div>

                    <button type="submit" class="button button-block"/>
                    Get Started</button>

                </form>
                {% for error in form.errors %}
                        <p style="color: red">{{ error }}</p>
                {% endfor %}

            </div>

        </div>
        <!-- tab-content -->

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="{% static 'js/lbg.js' %}">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>

