{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>EvenTUs-Events Around You</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static "account/css/home.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet">
  </head>

    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="{% static 'account/images/eventus.png' %}" alt= "Logo" style="width:60px;height:60px;border:0;"></a>

            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'events:events_list' %}">EVENTS</a></li>
                <li><a href="{% url 'college:college_list' %}">COLLEGE</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">

                {% if user.is_authenticated  and user.is_active %}

                    <li class="">
                        <a href="{% url 'account:logout' %}">
                            <button class="btn btn-main">LOGOUT</button>
                        </a>

                    </li>
                {% else %}
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#contact">CONTACT</a></li>

                <li class="">

                    <a href="{% url 'account:login' %}">
                        <button type="button" class="btn btn-main">Sign In</button>
                    </a>
                </li>

                <li><a href="{% url 'account:signup' %}"><button type="button" class="btn btn-main">Sign Up</button></a></li>

                {% endif %}
                 </ul>
            </div>
          </div>
        </nav>
        <div>
            {% block content %}
            {% endblock %}
        </div>

     <div class="footer">
        <div class="container">
          <p>&copy; EventUs 2017</p>
        </div>
      </div>
    </body>
</html>